.voice-nav-container {
	background-color: rgba(0, 0, 0, 0);
	position: fixed;
	z-index: 9999;
	overflow: initial;
	transform: none;
}

#voice-nav {
	background: #003d68 !important;
	width: 40px;
	min-width: 40px;
	max-width: 40px;
	height: 40px;
	min-height: 40px;
	max-height: 40px;
	box-sizing: content-box !important;
	padding: 3px;
	border-radius: 50% !important;
	border-color: rgb(255, 255, 255);
	position: fixed !important;
	top: 63px;
	bottom: auto;
	left: auto;
	right: 13px;
	transition: .1s;
	display: inline-block;
	cursor: pointer;
}

#voice-nav:hover {
	border-color: rgb(255, 255, 255);
}

#voice-nav .voice-nav-img {
	border-radius: 50%;
}