.voice-nav-container {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 9999999999;
    overflow: initial;
    transform: none;
}

#voice-nav {
    background: #003d68 !important;
    width: 57px;
    min-width: 57px;
    max-width: 57px;
    height: 57px;
    min-height: 57px;
    max-height: 57px;
    box-sizing: content-box !important;
    padding: 4px;
    border-radius: 50% !important;
    border-color: rgb(255, 255, 255);
    border-width: 0px;
    position: fixed !important;
    right: 13px;
    left: auto;
    top: 185px;
    transition: .1s;
    display: inline-block;
    cursor: pointer;
}

#voice-nav:hover {
    border-color: rgb(255, 255, 255);
    transform: scale(1.1);
}

#voice-nav .voice-nav-img {
    border-radius: 50%;
}